nav.navbar {
    height: auto;
}

.navbar-collapse {
    padding: 1rem;
}

.container-fluid {
    align-items: center;
}

.navbar input[type="search"] {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
.compatibility-table { margin-top: 20px; }

/* Hide elements with x-cloak until Alpine.js is ready */
[x-cloak] { display: none; }

.autocomplete-dropdown {
  position: absolute;
  z-index: 1000;
  width: 32%;
}

.autocomplete-row:hover{
    border: 2px solid #76c776;
}

.info-message {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 40%;
    margin-top: 0em;
}

.btn-propose:hover{
    background-color: #76c776;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

footer {
  background-color: #343a40;
}

footer a {
  color: #90ee90;
  transition: color 0.3s;
}

footer a:hover {
  color: #ffffff;
}

.medal-icon {
    font-size: 2rem !important;
    line-height: 1;
    vertical-align: middle;
}

/* Adjust width for smaller screens */
@media (max-width: 768px) {
    .autocomplete-dropdown {
        width: 82%;
    }
    .info-message {
        width: 60%;
    }
}

.github-fork-ribbon:before { background-color: #049063; }