{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-success text-white d-flex align-items-center">
            <h2 class="mb-1">{{ package.name }}</h2>
            <h5 class="mb-0 ms-auto">latest version: {{ package.get_latest_version }}</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title">Description:</h5>
            <p class="card-text">{{ package.description }}</p>

            <h5 class="card-title">Other versions:</h5>
            <p class="card-text">
                {% for version in versions_sorted %}
                    {{ version }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>

            <h5 class="card-title">Links:</h5>
            <ul class="list-unstyled">
                <li class="d-flex">
                    <span class="fw-bold" style="width: 200px; text-align: left;">Repository URL:</span>
                    <a href="{{ package.repository_url }}" class="ms-2 text-primary" target="_blank">{{ package.repository_url }}</a>
                </li>
                <li class="d-flex mt-2">
                    <span class="fw-bold" style="width: 200px; text-align: left;">Documentation URL:</span>
                    <a href="{{ package.documentation_url }}" class="ms-2 text-primary" target="_blank">{{ package.documentation_url }}</a>
                </li>
            </ul>

            <h5 class="card-title">Metrics:</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="bi bi-star-fill text-warning"></i> <strong>Stars:</strong> {{ package.metric_stars }}
                </li>
                <li class="list-group-item">
                    <i class="bi bi-git text-primary"></i> <strong>Forks:</strong> {{ package.metric_forks }}
                </li>
                <li class="list-group-item">
                    <i class="bi bi-exclamation-circle text-danger"></i> <strong>Open Issues:</strong> {{ package.metric_open_issues }}
                </li>
            </ul>

            <h5 class="card-title mt-4">Additional Information:</h5>
            <ul>
                <li><strong>Last Updated:</strong> {{ last_updated|date:"M d, Y" }}</li>
                <li><strong>Installation:</strong> <code>pip install {{ package.name|slugify }}</code></li>
            </ul>
        </div>
        <div class="card-footer bg-light">
            <a href="{{ package.repository_url }}" class="btn btn-warning" target="_blank">
                <i class="bi bi-star"></i> Star on GitHub
            </a>
            <a href="{{ package.repository_url }}/fork" class="btn btn-primary" target="_blank">
                <i class="bi bi-git"></i> Fork on GitHub
            </a>
        </div>
    </div>


    <!-- Metrics Graph -->
    <div class="mt-5">
        <h4>Metrics Graph</h4>
        <div class="row">
{#                <img src="{% url 'plot_github_metrics' %}" alt="GitHub Metrics Plot" width="200px;" height="200px;">#}
        </div>
    </div>

    <!-- Related Packages -->
    <div class="mt-5">
        <h4>Related Packages</h4>
        <div class="row">
            {% for related_package in related_packages %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ related_package.name }}</h5>
                        <p class="card-text">{{ related_package.description|truncatewords:15 }}</p>
                        <a href="{% url 'package_details' related_package.slug %}" class="btn btn-outline-success">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
