{% extends 'base.html' %}
{% load number_format %}


{% block content %}
    <div class="container">
        <h2>All Django packages/libraries </h2>
        <ol>
            {% for package in page_obj %}
                <li><a href="{% url 'package_details' package.slug %}">{{ package }}</a>  - {{ package.metric_stars|round_to_hundreds }}</li>
            {% endfor %}
        </ol>

        <br/>
        <h5>Not seeing a Django package? <a href="{% url 'package_add' %}">Suggest it here</a> !</h5>

        {% if page_obj.paginator.num_pages > 1 %}
            <span class="step-links">
                {% if page_obj.has_previous %}
                  <a href="?page=1">First</a>
                  <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

                {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">Next</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            </span>
            <p><a href="{% url 'packages' %}" >Clear filters</a></p>
        {% endif %}


    </div>
{% endblock %}